imageio==2.35.1
numpy==2.0.2
pillow==10.4.0
protobuf==3.20
scikit-image==0.24.0
scipy==1.13.1
tifffile==2024.8.30
tensorboard_logger
torch==2.4.1
torchvision==0.19.1
segmentation-models-pytorch==0.3.4
